@model Dictionary<string, string>

@{
    ViewBag.PageTitle = "index";
    ViewBag.PageId = "page-index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome</h1>
<p>To Cwik's Stoplight. Enjoy responsibly :)</p>

