
@{
    ViewData["Title"] = "random";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageId = "random-mode";
}

<h1>Manual Mode</h1>
<button class="btn btn-large btn-primary" onclick="randomController.start()">Start</button>
<button class="btn btn-large btn-primary" onclick="randomController.stop()">End</button>

